@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Theme */
@import '#hubble/assets/styles/lib/theme.css';

/* Foundations */
@import '#hubble/assets/styles/lib/foundations/focus.css';
@import '#hubble/assets/styles/lib/foundations/button.css';
@import '#hubble/assets/styles/lib/foundations/link.css';

/* Components */
@import '#hubble/assets/styles/lib/components/all.css';

/* Widgets */
@import '#hubble/assets/styles/lib/components/all.css';
