@import 'tailwindcss' source('../../');

/* Foundations */
@import '#hubble/assets/styles/lib/foundations/focus.css';
@import '#hubble/assets/styles/lib/foundations/button.css';
@import '#hubble/assets/styles/lib/foundations/link.css';
@import '#hubble/assets/styles/lib/foundations/label.css';
@import '#hubble/assets/styles/lib/foundations/scrollbar.css';
@import '#hubble/assets/styles/lib/foundations/select.css';
@import '#hubble/assets/styles/lib/foundations/animations.css';
@import '#hubble/assets/styles/lib/foundations/typography.css';

/* Components */
@import '#hubble/assets/styles/lib/components/input.css';
@import '#hubble/assets/styles/lib/components/textarea.css';
@import '#hubble/assets/styles/lib/components/tabs.css';
@import '#hubble/assets/styles/lib/components/toggle.css';
@import '#hubble/assets/styles/lib/components/skeleton.css';
@import '#hubble/assets/styles/lib/components/wishlist.css';
@import '#hubble/assets/styles/lib/components/cms-blocks.css';

@theme {
    /* Colors palettes */
    --color-red-200: oklch(0.915 0.044 17.978);
    --color-red-500: oklch(0.694 0.192 30.074);
    --color-red-600: oklch(0.616 0.224 33.55);
    --color-red-700: oklch(0.462 0.18 30.962);

    --color-gray-100: oklch(1 0 89.876);
    --color-gray-200: oklch(0.993 0.003 39.485);
    --color-gray-300: oklch(0.952 0.005 48.685);
    --color-gray-400: oklch(0.907 0.007 53.439);
    --color-gray-500: oklch(0.865 0.008 48.64);
    --color-gray-600: oklch(0.741 0.007 53.41);
    --color-gray-700: oklch(0.616 0.004 39.467);
    --color-gray-800: oklch(0.48 0.003 17.246);
    --color-gray-900: oklch(0.337 0.002 286.307);

    /* Semantic colors */
    --color-primary: var(--color-red-600);
    --color-primary-shade-light: var(--color-red-500);
    --color-primary-shade-dark: var(--color-red-700);
    --color-primary-content: oklch(1 0 0);

    --color-secondary: oklch(0.422 0.192 262.78);
    --color-secondary-shade-light: oklch(0.545 0.207 262.828);
    --color-secondary-shade-dark: oklch(0.278 0.127 261.824);
    --color-secondary-content: oklch(1 0 0);

    --color-tertiary: oklch(0.55 0.18 150);
    --color-tertiary-shade-light: oklch(0.62 0.2 150);
    --color-tertiary-shade-dark: oklch(0.48 0.16 150);
    --color-tertiary-content: oklch(1 0 0);

    --color-link: var(--color-secondary);
    --color-link-visited: var(--color-secondary-shade-light);
    --color-link-hover: var(--color-secondary-shade-dark);
    --color-link-active: var(--color-secondary-shade-dark);

    --color-neutral: oklch(0.143 0.048 255.681);
    --color-border: var(--color-gray-500);
    --color-border-light: var(--color-gray-200);

    /* Notification colors */
    --color-error: oklch(0.488 0.257 29.27);
    --color-error-light: oklch(0.93 0.07 29.27);
    --color-error-content: oklch(1 0 1);
    --color-success: oklch(0.495 0.165 141.8);
    --color-success-light: oklch(0.92 0.05 141.8);
    --color-success-content: oklch(1 0 1);
    --color-warning: oklch(0.716 0.189 75.65);
    --color-warning-light: oklch(0.94 0.06 75.65);
    --color-warning-content: oklch(0 0 1);
    --color-info: oklch(0.539 0.149 231.6);
    --color-info-light: oklch(0.93 0.05 231.6);
    --color-info-content: oklch(1 0 1);

    /* Foundation / Component colors */
    --color-input: var(--color-input, --color-border);
    --color-input-content: var(--color-input-content);
    --color-input-placeholder: var(--color-gray-600);

    --color-textarea: var(--color-input);
    --color-textarea-content: var(--color-input-content);
    --color-textarea-placeholder: var(--color-input-placeholder);

    --color-select: var(--color-select, --color-border);
    --color-select-content: var(--color-select-content);

    --color-btn: var(--color-btn);
    --color-btn-shade-light: var(--color-btn-shade-light);
    --color-btn-shade-dark: var(--color-btn-shade-dark);
    --color-btn-content: var(--color-btn-content);

    --color-focus: var(--color-primary-shade-light);
    --color-label: var(--color-neutral);
    --color-toggle: var(--color-toggle, var(--color-primary));

    --color-wishlist-toggle: var(--color-neutral);
    --color-wishlist-toggle-active: var(--color-secondary);

    /* Container Breakpoints */
    --container-8xl: 96rem;
}